# Most Frequently Used Start/End BT Sensors By Hour
Quick solution to finding the most frequently used start/end BT sensors of the origin/destinations.

Currently using the sample table provided at `qchen.sample_od_start_end` which contains one day of sample data.

In [42]:
%matplotlib inline
from psycopg2 import connect
import psycopg2.sql as pg
import configparser
from datetime import datetime, timedelta, date
import itertools
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import pandas as pd
import pandas.io.sql as pandasql
from IPython.display import HTML, display

In [43]:
# setting up pgsql connection
CONFIG = configparser.ConfigParser()
CONFIG.read('db.cfg')
dbset = CONFIG['DBSETTINGS']
con = connect(**dbset)

In [48]:
# Get start sensor column names
sql = pg.SQL('''WITH columns AS (
                SELECT column_name
                  FROM information_schema.columns
                  WHERE table_schema='qchen' AND table_name='sample_od_start_end'
                )
                SELECT column_name FROM columns
                WHERE column_name SIMILAR TO 's\_%';''')
columns = pandasql.read_sql(sql, con)
len_columns = len(columns)
# Get number of observations for each start sensor
col_values = []
for i in range(len_columns):
    sql = pg.SQL('''SELECT {sensor_id} AS sensor, SUM({column_name}) AS obs, trunc(EXTRACT(hour from measuredtimetimestamp)) AS "hour"
                FROM qchen.sample_od_start_end
                GROUP BY trunc(EXTRACT(hour from measuredtimetimestamp))
                ORDER BY trunc(EXTRACT(hour from measuredtimetimestamp));''').format(sensor_id = pg.Literal(columns.values[i][0]),
                                                                            column_name = (pg.Identifier(columns.values[i][0])))
    col_hourly_sum = pandasql.read_sql(sql, con)
    col_values.append(col_hourly_sum.values)
top_by_hour = []
# gets top 10 start sensors with highest obs per hour
for hour in range(24):
    ranked_sensors = []
    for col in range(len(col_values)):
        ranked_sensors.append(col_values[col][hour])
    ranked_sensors.sort(key=lambda x: x[1], reverse=True)
    top_by_hour.append(ranked_sensors[0])
    df = pd.DataFrame(ranked_sensors[:10], columns=['Sensor', 'Observations', 'Hour'])
    display(HTML(df.to_html(index=False)))

In [49]:
# Overall top start nodes by hour
df = pd.DataFrame(top_by_hour, columns=['Sensor', 'Observations', 'Hour'])
display(HTML(df.to_html(index=False)))

In [50]:
# Get end sensor column names
sql = pg.SQL('''WITH columns AS (
                SELECT column_name
                  FROM information_schema.columns
                  WHERE table_schema='qchen' AND table_name='sample_od_start_end'
                )
                SELECT column_name FROM columns
                WHERE column_name SIMILAR TO 'e\_%';''')
columns = pandasql.read_sql(sql, con)
len_columns = len(columns)
# Get number of observations for each end sensor
col_values = []
for i in range(len_columns):
    sql = pg.SQL('''SELECT {sensor_id} AS sensor, SUM({column_name}) AS obs, trunc(EXTRACT(hour from measuredtimetimestamp)) AS "hour"
                FROM qchen.sample_od_start_end
                GROUP BY trunc(EXTRACT(hour from measuredtimetimestamp))
                ORDER BY trunc(EXTRACT(hour from measuredtimetimestamp));''').format(sensor_id = pg.Literal(columns.values[i][0]),
                                                                            column_name = (pg.Identifier(columns.values[i][0])))
    col_hourly_sum = pandasql.read_sql(sql, con)
    col_values.append(col_hourly_sum.values)
top_by_hour = []
# gets top 10 end sensors with highest obs per hour
for hour in range(24):
    ranked_sensors = []
    for col in range(len(col_values)):
        ranked_sensors.append(col_values[col][hour])
    ranked_sensors.sort(key=lambda x: x[1], reverse=True)
    top_by_hour.append(ranked_sensors[0])
    df = pd.DataFrame(ranked_sensors[:10], columns=['Sensor', 'Observations', 'Hour'])
    display(HTML(df.to_html(index=False)))

In [51]:
# Overall top end nodes by hour
df = pd.DataFrame(top_by_hour, columns=['Sensor', 'Observations', 'Hour'])
display(HTML(df.to_html(index=False)))